@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes rotate-right {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@font-face {
  font-family: "Cinzel--regular";
  src: url("../../assets/fonts/Cinzel-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinzel--bold";
  src: url("../../assets/fonts/Cinzel-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--extralight";
  src: url("../../assets/fonts/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--light";
  src: url("../../assets/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--regular";
  src: url("../../assets/fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--bold";
  src: url("../../assets/fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--black";
  src: url("../../assets/fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--second-font-bold);
  font-size: 1.6rem;
  background-color: #232323;
  color: #fff;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 10px;
  z-index: 100;
  transition: opacity 300ms linear;
  cursor: pointer;
}
.burger-btn:hover {
  opacity: 0.7;
}
.burger-btn:focus {
  outline: none;
  border-color: #fff;
}
.burger-btn.is-active .burger-btn__bars,
.burger-btn.is-active .burger-btn__bars::before,
.burger-btn.is-active .burger-btn__bars::after {
  background-color: #232323;
}
.burger-btn__box {
  position: relative;
  display: block;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::before, .burger-btn__bars::after {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: transform 300ms linear;
}
.burger-btn__bars::before, .burger-btn__bars::after {
  content: "";
}
.burger-btn__bars::before {
  top: 13px;
}
.burger-btn__bars::after {
  top: 27px;
}
.burger-btn.animation .burger-btn__box {
  perspective: 80px;
}
.burger-btn.animation .burger-btn__bars {
  transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1), background-color 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.burger-btn.animation .burger-btn__bars::before, .burger-btn.animation .burger-btn__bars::after {
  transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.burger-btn.animation.is-active .burger-btn__bars {
  background-color: transparent;
}
.burger-btn.animation.is-active .burger-btn__bars::before, .burger-btn.animation.is-active .burger-btn__bars::after {
  background-color: #191919;
}
.burger-btn.animation.is-active .burger-btn__bars::before {
  transform: rotate(45deg);
}
.burger-btn.animation.is-active .burger-btn__bars::after {
  transform: translateY(-13px) rotate(-45deg);
}
.burger-btn.animation.is-active:focus {
  border-color: #232323;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.header nav.nav-desktop {
  display: none;
}
.header nav.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transform: translateX(-105%);
  transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 10;
}
.header nav.nav-mobile ul.nav__list-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header nav.nav-mobile ul.nav__list-mobile .nav__link {
  position: relative;
  margin: 1em 0;
  padding: 0.5em;
  font-size: 2.4rem;
  font-family: var(--second-font-regular);
  text-decoration: none;
  text-transform: uppercase;
  color: #191919;
  transition: color 300ms ease;
}
.header nav.nav-mobile ul.nav__list-mobile .nav__link:hover {
  color: #9b9165;
}
.header nav.nav-mobile ul.nav__list-mobile .nav__link:hover::before {
  animation: pulse 1s;
}
.header nav.nav-mobile ul.nav__list-mobile .nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #9b9165;
  opacity: 0;
}
.header nav.nav-mobile.is-active {
  transform: translateX(0);
}
.header .wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
.header__text {
  padding: 2em;
  display: grid;
  align-content: center;
  grid-row: 2/3;
  grid-column: 1/3;
}
.header__text h1.company-name {
  margin-bottom: 0.5em;
  font-family: var(--first-font-regular);
  font-size: 3rem;
  color: #d6c78e;
}
.header__text p.company-description {
  font-family: var(--second-font-light);
}
.header__img {
  grid-row: 1/2;
  grid-column: 1/3;
  background-image: url("../../assets/images/bitcoin-hero-mobile.jpg");
  background-position: center 35%;
  background-size: cover;
  filter: brightness(0.8) sepia();
}
.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__arrow {
  display: none;
}
.header__background-icon {
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}
.header__background-icon--first {
  bottom: 2em;
  right: -3em;
  width: 50%;
  animation: rotate-right 55s infinite linear;
}
.header__background-icon--second {
  display: none;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    top: 40px;
    right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    grid-template-rows: auto 1fr 1fr;
  }
  .header nav.nav-desktop {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 2em;
    border-bottom: 1px solid #fff;
  }
  .header nav.nav-desktop ul.nav__list-desktop {
    display: flex;
    -moz-column-gap: 3em;
         column-gap: 3em;
  }
  .header nav.nav-desktop ul.nav__list-desktop .nav__link {
    position: relative;
    color: #fff;
    font-family: var(--second-font-regular);
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 300ms ease;
  }
  .header nav.nav-desktop ul.nav__list-desktop .nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #9b9165;
    opacity: 0;
  }
  .header nav.nav-desktop ul.nav__list-desktop .nav__link:hover {
    color: #9b9165;
  }
  .header nav.nav-desktop ul.nav__list-desktop .nav__link:hover::before {
    animation: pulse 1s;
  }
  .header .burger-btn {
    display: none;
  }
  .header__text {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .header__text p.company-description {
    font-size: 1.8rem;
  }
  .header__img {
    grid-row: 1/4;
    grid-column: 2/3;
    background-image: url("../assets/images/bitcoin-hero-desktop.jpg");
  }
  .header__arrow {
    display: flex;
    position: absolute;
    bottom: 3em;
    left: calc(50% + 3em);
    padding: 1.4em;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .header__arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    animation: pulse 2s infinite;
  }
  .header__background-icon--first {
    width: 20%;
    left: 6em;
    bottom: 6em;
  }
  .header__background-icon--second {
    display: block;
    width: 6%;
    left: 14em;
    top: 8em;
    animation: rotate-left 55s infinite linear;
  }
}
:root {
  --first-font-regular: "Cinzel--regular";
  --first-font-bold: "Cinzel--bold";
  --second-font-extralight: "Raleway--extralight";
  --second-font-light: "Raleway--light";
  --second-font-regular: "Raleway--regular";
  --second-font-bold: "Raleway--bold";
  --second-font-black: "Raleway--black";
}/*# sourceMappingURL=main.css.map */