// Breakpoint for medium screens: 768px
@media screen and (min-width: 768px) {
  .burger-btn {
    top: 40px;
    right: 40px;
  }
  // Plans section
  .plans {
    padding: 8em 2em;

    &__box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
    }

    &__item {
      margin: 1em 0;

      &-icon {
        width: 40px;
      }
    }
  }
  // Gallery
  .gallery {
    &__img:nth-child(odd) {
      display: inline;
    }
  }
}