@use "./reset"; // reset
@use "utilities"; // fonts, colors & animations
@use "components"; // components
@use "./small";
@use "./medium";
@use "./large";
@use "./extralarge";

:root {
  --first-font-regular: "Cinzel--regular";
  --first-font-bold: "Cinzel--bold";
  --second-font-extralight: "Raleway--extralight";
  --second-font-light: "Raleway--light";
  --second-font-regular: "Raleway--regular";
  --second-font-bold: "Raleway--bold";
  --second-font-black: "Raleway--black";
}