@use "./reset"; // reset
@use "utilities" as utils; // fonts, colors & animations
@use "components" as components; // components
@use "./medium";
@use "./large";

:root {
  --first-font-regular: "Cinzel--regular";
  --first-font-bold: "Cinzel--bold";
  --second-font-extralight: "Raleway--extralight";
  --second-font-light: "Raleway--light";
  --second-font-regular: "Raleway--regular";
  --second-font-bold: "Raleway--bold";
  --second-font-black: "Raleway--black";
}