@use "./colors";

@mixin burgerBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1.5em;
  border: 2px solid transparent;
  background-color: transparent;
  z-index: 100;
}

@mixin navLinkBefore {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid colors.$darkgold;
  opacity: 0;
}

@mixin formControls($padding) {
  display: block;
  margin: 0 auto 1em;
  padding: 1em;
  border: 2px solid colors.$white;
  border-radius: 8px;
  font-size: 1.6rem;
  font-family: var(--second-font-regular);  
}