@use "../utilities/colors";
@use "../utilities/mixins";

.newsletter {
  background-color: colors.$red;

  .section-title {
    color: colors.$white;
    font-size: 2.8rem;

    &::before {
      bottom: -.75rem;
      background-color: colors.$white;
    }
  }

  &__form-input {
    @include mixins.formControls(1em);
    width: 80%;
    color: colors.$dark;

    &:focus {
      outline: none;
      border-color: colors.$dark;
    }
  }

  &__form-button {
    @include mixins.formControls(1em);
    background-color: transparent;
    color: colors.$white;
    transition: background-color 300ms ease, border-color 300ms ease, color 300ms ease;
    cursor: pointer;
  
    &:hover {
      background-color: colors.$gold;
      border-color: colors.$gold;
      color: colors.$dark;
    }
  }
}

